.frontpage{
    background-color: rgb(214, 195, 231);
}

.logoimage{
    height: 9em;
}
.bookimage{
    height: 11em;
}
.bg-purple{
    background-color: #0E0236;
}
.btn-purple{
    background-color: #0E0236;
}
.text-purple{
    color: #0E0236;
}


a.active_class{
    color: red;
    border-bottom: 1px solid red;}


footer{
    /* position: absolute; */
    /* position: -webkit-fixed; */
    /* bottom: 0; */
}
.text-danger{
    color: #EB5455 !important;
}
.btn-danger{
    background: #EB5455 !important;
}
.btn-outline-danger{
    border: 1px solid #EB5455 !important;
}