.frontpage{
  background-color: rgb(214, 195, 231);
}

.logoimage{
  height: 9em;
}
.bookimage{
  height: 11em;
}
.bg-purple{
  background-color: #0E0236;
}
.btn-purple{
  background-color: #0E0236;
}
.text-purple{
  color: #0E0236;
}


a.active_class{
  color: red;
  border-bottom: 1px solid red;}


footer{
  /* position: absolute; */
  /* position: -webkit-fixed; */
  /* bottom: 0; */
}
.text-danger{
  color: #EB5455 !important;
}
.btn-danger{
  background: #EB5455 !important;
}
.btn-outline-danger{
  border: 1px solid #EB5455 !important;
}



.post {
  border-top-left-radius: 1.7em;
  border-bottom-left-radius: 1.7em;
}

.action {
  border-top-right-radius: 1.7em;
  border-bottom-right-radius: 1.7em;
}

.logo-name:hover .animate-quill {
  animation-name: girgit;
  animation-timing-function: ease;
}

.animate-quill {
  animation-duration:  2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.animate-quill:hover {
  /* animation-name: girgit; */
  /* animation-timing-function: ease; */
}
.animate-me {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.animate-me:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes girgit {
  0% {
    color: #ffffff;
    transform: translateY(-2.5px);
  }
  10% {
    color: #41ffff;
    transform: translateY(-2px);
  }
  20% {
    color: #108afc;
    transform: translateY(0);
  }
  30% {
    color: #88ff00;
    transform: translateY(-7px);
  }
  40% {
    color: #ffdc42;
    transform: translateY(-6.5px);
  }
  50% {
    color: #ff9a3b;
    transform: translateY(-6px);
  }
  60% {
    color: #ff2f41;
    transform: translateY(-5.5px);
  }
  70% {
    color: #ff23bd;
    transform: translateY(-5px);
  }
  80% {
    color: #d52cff;
    transform: translateY(-4.5px);
  }
  90.0% {
    color: #26ffed;
    transform: translateY(-4px);
  }
  100.0% {
    color: #f5f5f5;
    transform: translateY(0px);
  }
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
/* @keyframes girgit {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-7px); }
  100% { transform: translateY(0); }
} */

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}
